<!-- app.component.html -->
<!-- <div class="parallax-container" (scroll)="onScroll($event)">

  <div class="parallax-bg" #parallaxBg></div>
</div> -->

<!-- 第二測試 -->
<!-- <section class="parallax-container">
  <h1>Cerro Torre</h1>
  <p>
    Cerro Torre is a mountain of sheer beauty whose spectacular attributes
    make it an unique gem in Argentina.
  </p>
</section>

<section class="buffer"></section>

<section class="parallax-container parallax-container2">
  <div class="card">
    <div class="card-img"></div>
    <h3>Hiking</h3>
    <p>
      Explore the myriad of trails through the mountaineous. Choose the
      difficulty appropriate to your fitness level.
    </p>
    <a href="#">Learn more</a>
  </div>
  <div class="card">
    <div class="card-img"></div>
    <h3>Rock climbing</h3>
    <p>
      The goal is to reach the summit of a formation or the endpoint of a
      usually pre-defined route without falling
    </p>
    <a href="#">Learn more</a>
  </div>
  <div class="card">
    <div class="card-img"></div>
    <h3>Caving</h3>
    <p>
      Exploring underground through networks of tunnels and passageways,
      which can be natural or artificial.
    </p>
    <a href="#">Learn more</a>
  </div>
  <div class="card">
    <div class="card-img"></div>
    <h3>Paragliding</h3>
    <p>
      Get lift off from the mountain and enjoy through the splendor of the
      surrounding landscape by parachute.
    </p>
    <a href="#">Learn more</a>
  </div>
</section>

<section class="buffer"></section> -->

<!-- 第三次測試 -->
<!-- <div class="parallax">
  <div class="parallax-layer layer1">LAYER 1</div>
  <div class="parallax-layer layer2">LAYER 2</div>
  <div class="parallax-layer layer3">LAYER 3</div>
</div> -->


<!-- 第四次測試 -->
<!-- <div class="page">
  <div class="keyart" id="parallax">
    <div class="keyart_layer" id="keyart-8"></div>
    <div class="keyart_layer" id="keyart-7"></div>
    <div class="keyart_layer" id="keyart-6"></div>
    <div class="keyart_layer" id="keyart-5"></div>
    <div class="keyart_layer" id="keyart-4"></div>
    <div class="keyart_layer" id="keyart-3"></div>
    <div class="keyart_layer" id="keyart-2"></div>
    <div class="keyart_layer" id="keyart-1"></div>
    <div class="keyart_layer" id="keyart-0"></div>
  </div>
<div class="overflow">
  <h1>CSS Parallax Scrolling</h1>
</div>
</div> -->

<div class="container">
  <div class="section-1">
    <h1
      data-aos="fade-up"
    >section-1 Test</h1>
  </div>
  <div class="test-section"></div>
  <div class="section-2">
    <h1
      data-aos="fade-down"
    >section-2 Test</h1>
  </div>
  <div class="section-3">
    <h1
      data-aos="fade-up-right"
    >section-3 Test</h1>
  </div>
</div>
